img{
    height: 50%;
    width: 50%;
    border: 5px solid rgb(206, 72, 116);
}

body{
    text-align: center;
    background-color: pink;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;

}

h1{
   font-size: 4em;
}

h2{
   font-size: 3em;
}

h3{
   font-size: 2em;
}

li{
    font-size: 1em;
    list-style-type: none;
 }