.contact-page{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    margin: 7%;
    height: 53vh;
    width: 70vw;
    justify-content: center;
    align-self: center;
}