.work-item{
    height: 10rem;
    width: 20rem;
    background: white;
}

.work-item > img{
    height: 100%;
    width: 100%;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    object-fit: cover;
    margin:  0;

}

.work-item > img:hover {
	opacity: .5;
}