#root {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  height: 100%;
}

.container{
  background-image: url(../public/background-image.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 102vh;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

html, body {
  height: 98%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.923), rgba(0, 0, 0, 0.940));
}