.nav{
    margin-bottom: 1rem;
    margin-top: 2rem;
    justify-content: space-around;
}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.nav li{
    list-style-type: none;
    font-size: 2rem;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 0.7rem;
}

.nav a:hover{
    background-color: white;
    color: black;
    padding: 0.7rem;
    border-radius: 5px;
}

.active{
    background-color: white;
    color: black !important;
    padding: 0.7rem;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .nav li{
        font-size: 1rem;
    }
  }
  