.about-page{
    margin: 7%;
    display: flex;
    flex-direction: row !important;
    justify-content: start;
    height: 54.7vh;
    align-self: center;
    width: 61vw;
}

.about-section{
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 8rem;
    height: 60vh;
}

.about-section p{
    color: black;
    padding: 1rem;
    background-color: white;
    border-radius: 5px; 
}